@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  color:white;
  @apply h-screen;
}
* {
  font-family: "Poppins", sans-serif;
}

.navbar{
  @apply cursor-pointer flex items-center justify-between text-base text-white font-medium;
}

.btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn-fill-purple::before {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  position: absolute;
  background-color: #ba80e6;
  color: #391952;
  transition: linear 0.3s;
  z-index: -1;
}

.btn-fill-purple:hover:before {
  height: 100%;
}

.btn-fill-white::before {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  position: absolute;
  background-color: #ffffff;
  color: #391952;
  transition: linear 0.3s;
  z-index: -1;
}
.btn-fill-white:hover:before {
  height: 100%;
}

.navbar-item {
  @apply p-2 px-4 rounded-xl hover:scale-110 transition hover:ease-in-out text-xl;
}

.active {
  @apply text-white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

#webcam {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
}

#gesture-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
  z-index: 9;
}
.learning-option-card{
  @apply flex flex-col flex-wrap p-6 justify-between items-center rounded-xl w-[400px] h-[500px]  bg-slateGreen text-white
}



.learning-option-card-image{
  @apply w-full h-[50%] rounded-xl  flex items-center justify-center bg-white overflow-hidden;

}

.learn-card-button{
  @apply rounded-xl w-full flex items-center justify-center border-2 border-white bg-white text-black transition hover:ease-in-out hover:bg-black hover:text-white hover:border-black p-2 hover:scale-105 hover:shadow-xl
}
input{
  background-color: black;
}